/* Body */
html,
body {
  overflow-x: hidden;
}
.top {
  background-image: url(../Assets/Images/palms.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.card {
  margin: auto;
  float: none;
}
.bg-dark {
  background-color: transparent !important;
}

.title {
  font-family: "Oswald", sans-serif;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 4em;
  font: Inconsolata, monospace;
  text-shadow: 0 0 6px #6fa545;
  font-weight: 600;
}
.card-title {
  color: #e3e16c;
}
.card-text {
  font-size: 1.1em;
}
#myself {
  height: 100%;
}

.icons {
  font-size: 1em;
  color: black;
}
a {
  font-size: 1em;
  color: inherit;
}

i {
  margin-right: 0.5em;
}
section {
  background-image: url("../Assets/Images/keyboard.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
h2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  font-weight: 700;
  color: #e3e16c;

  text-shadow: 0 0 7px #c8c8c8;
}
h5 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  line-height: 1.7;
  margin: 10px;
  font-weight: 500;
}
h3,
footer {
  color: rgb(255, 255, 255);
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #c8c8c8;
}
.card-img-top {
  width: 259px;
  height: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.port {
  width: 278px;
  margin: 0;
}
.card-body {
  font-weight: 500;
}
@media screen and (max-width: 978px) {
  .card-group {
    width: 375px;
  }
}

/* Footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 35px;
  text-align: center;
  font-weight: bolder;
  text-shadow: 0 0 6px #6fa545;
}
