/* Body */
/* Backgound image */
body {
  background-image: url("https://img.wallpapersafari.com/desktop/1600/900/91/94/PmdesY.png");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
}

.card img {
  height: 100%;
  width: 100%;
}
.port {
  height: 100em;
}
h5 {
  color: #008080;
}
.p {
  color: white;
}
/* Footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45px;
  background-color: #008080;
  color: white;
  text-align: center;
  margin-top: 1500px;
}